/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}


:root {
  /*COLORS*/
  
  --primary-100: hsl(0, 0%, 100%);
  --primary-200: hsl(217, 19%, 35%);
  --primary-300: hsl(219, 29%, 14%);
  --primary-400: hsl(263, 55%, 52%);
  
  --neutral-500: hsl(0, 0%, 81%);
  --neutral-600: hsl(210, 46%, 95%);

  
  /*FONT*/
  
  --fs-100: 0.75rem;
  --fs-200: 0.813rem;
  --fs-300: 0.875rem;
  --fs-400: 1.125rem;
  

  --fw-semibold: 400;
  --fw-regular: 500;
  --fw-bold: 600;
  
  
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-family: 'Outfit', sans-serif;
  background: var(--neutral-600);
  display: grid;
  place-content: center;
 
}

.container {
  display: grid;
  place-content: center;
  gap: 1.5rem 2rem;
  
}
.card {
  display: flex;
  flex-direction: column;
  padding: 1.5em 2em 1.5em 2em;
  border-radius: 10px;
  gap: 1rem;
  justify-content: space-between;  
}


.daniel {
  position: relative;
  background: var(--primary-400);
  padding-bottom: 2em;
}

.jonathan {
  background: var(--primary-200);
  padding-bottom: 2em;
}



.jeanette {
  background: var(--primary-100);
  
}

.patrick {
  background: var(--primary-300);
  
}


.kira {
  background: var(--primary-100);
  padding
}

h1 {
  font-size: var(--fs-400);
  font-weight: var(--fw-bold);
  line-height: 24px;
  
}

h2 {
  font-size: var(--fs-200);
  font-weight: var(--fw-semibold);
  line-height: 17px;
}
.text {
  font-size: var(--fs-100);
  opacity: 70%;
  line-height: 17px;
  letter-spacing: 0.01px; 
}

.info {
  font-size: var(--fs-100);
  opacity: 50%;
  
}
.daniel, .jonathan, .patrick{
  color: var(--primary-100);
}


.kira, .jeanette {
  color: var(--primary-200);
}
.text-patrick, .text-jeanette {
  padding-top: 0.5em;
}

.profile-image {
  float: left;
  margin-right: 1rem;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.quotation-image {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  right: 100px;
  
}

.text-daniel {
  position: absolute;
  padding: 0 2em 0 0;
  top: 75px;
}

@media screen and (min-width:375px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
    max-width: 60vw;
 }
  
  .daniel {  
    grid-column: 1 / 3;
 }
  
  .kira {
    grid-row: 1 / 3;
    grid-column: 4;
 }
  
  .patrick {
    grid-column: 2 / 4;
 }
}
